@using WebUI.Models
@model  MobileListViewModel

@{
    ViewBag.Title = "Phones";
}


@foreach (var item in Model.MobilePhones) {

    @Html.Partial("MobileSummary", item)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x, SearchString = (string)ViewBag.Search , brand = Model.CurrentBrand }))
</div>


